{% form_theme formEcrire 'bootstrap_3_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block main_page %}

	<div class="container">

		<div class="col-xs-12">
			dump(err)
		</div>

	</div>

{% endblock %}

