{% extends 'base.html.twig' %}

{% block title %}Informations d'accès{% endblock %}

{% block main_page %}

    {% import 'macros/bouton.html.twig' as control %}

	<div class="container">

		<div class="col-xs-12">
			<h3>La page des liens</h3>
		</div>

		<div class="col-xs-12 col-sm-6">
			<h4>Nos Sponsors.</h4>
			<ul class="list-unstyled">
				<li><a href="https://www.magasins-u.com/accueil" target="_blank">Les magasins Super U</a></li>
				<li><a href="http://www.domeimmobilier.fr/" target="_blank">Agence Immobilière Dôme Immobilier</a></li>
				<li><a href="https://www.terrederunning.com/" target="_blank">Terre de Running</a></li>
				<li><a href="https://www.facebook.com/ledressing38330/" target="_blank">Le Dressing</a></li>
				<li><a href="http://verdanna.free.fr/" target="_blank">Verdanna</a></li>
				<li><a href="http://imprimerienotredame.com/" target="_blank">Imprimerie Notre-Dame</a></li>
				<li><a href="http://ipfi.fr/" target="_blank">I.P.F.I</a></li>
			</ul>
		</div>

		<div class="col-xs-12 col-sm-6">
			<h4>Les Fédérations:</h4>
			<ul class="list-unstyled">
				<li><a href="http://www.athle.fr/" target="_blank">Fédération Francaise d'athlétisme</a></li>
				<li><a href="http://www.i-tra.org/" target="_blank">International Trail/Running Association</a></li>
				<li><a href="" target="_blank"></a></li>
			</ul>
		</div>

		<div class="col-xs-12 col-sm-6">
			<h4>Les autres courses locales :</h4>
			<ul class="list-unstyled">
				<li><a href="" target="_blank"></a></li>
				<li><a href="http://www.calendrier.dusportif.fr/isere-38-4" target="_blank">Le Calendrier du Sportif/Isère</a></li>
				<li><a href="http://www.grenoble-vizille.fr/" target="_blank">Grenoble-Vizille</a></li>
				<li><a href="http://www.le-gresivaudan.fr/301-challenge-intercommunal-du-gresivaudan.htm" target="_blank">Le Challenge Intercommunal du Grésivaudan</a></li>
				<li><a href="" target="_blank"></a></li>
				<li><a href="" target="_blank"></a></li>
			</ul>
		</div>
	</div>

{% endblock %}

