{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur l'Intranetdu GUC{% endblock %}

{% block main_page %}

    {% import 'macros/bouton.html.twig' as control %}

    <div class="container">

        <div class="col-xs-12">
            <h3>Bienvenue sur l'Intranet {{ app.user.prenom ~ ' ' ~ app.user.nom }} , </h3>
        </div>

        <div class="col-xs-12 col-sm-6">
            {{ control.bouton(
                " Ajout d'une série de résultats",
                url('intranet_admin_resultats'),
                '',
                'btn-block btn-default',
                'save') }}
        </div>

        <div class="col-xs-12 col-sm-6">
            {{ control.bouton(
                " Admin des publications de la page d\'accueil" ,
                url('blog_admin_index'),
                '',
                'btn-block btn-default',
                'folder-open') }}
        </div>

        <div class="col-xs-12">
            <h3>Pour vous déconnecter :</h3>
        </div>

        <div class="col-xs-12">
            {{  control.bouton(
                ' Déconnexion',
                url('deconnexion'),
                '',
                'btn-block btn-default',
                'quit') }}
        </div>

    </div>

{% endblock %}
